<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dbProviderSetting" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <dbProviderSetting>
        <add key="W-ORM_TEST" value="MSSQL" ></add>
    </dbProviderSetting>
    <connectionStrings>
        <add name="W-ORM_TEST" connectionString="Server=.;Database=WORM; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>