<?xml version="1.0" encoding="utf-8"?>
<Databases>
      <RECEPContext id="RECEPContext">
        <ConnectionString value="Server=.; Trusted_Connection=True;" />
        <Provider value="System.Data.SqlClient" />
        <Type value="MSSQL" />
        <UpdatedTime value="2017-11-27T22:12:21.664416+03:00" />
        <UpdatedAuthor value="Bahadır Yardım" />
      </RECEPContext>
        <MYSQL-BHDR id="MYSQL-BHDR">
            <ConnectionString value="Server=127.0.0.1;Port=3306;Uid=root;Pwd=123qwe;" />
            <Provider value="MySql.Data.MySqlClient" />
            <Type value="MYSQL" />
            <UpdatedTime value="2017-11-27T22:12:21.6684188+03:00" />
            <UpdatedAuthor value="Bahadır Yardım" />
        </MYSQL-BHDR>
  <POSTGRESQL-BHDR id="POSTGRESQL-BHDR">
    <ConnectionString value="Provider=PostgreSQL OLE DB Provider;Data Source=.;location=myDataBase;User ID=postgres;password=123qwe;" />
    <Provider value="System.Data.OleDb" />
    <Type value="POSTGRE" />
    <UpdatedTime value="2017-11-27T22:12:21.6684188+03:00" />
    <UpdatedAuthor value="Ali Tevek" />
  </POSTGRESQL-BHDR>
</Databases>