<?xml version="1.0" encoding="utf-8"?>
<Databases>
  <MYSQL_University id="MYSQL_University">
    <ConnectionString value="Server =localhost; Port = 3306; Uid=root; Pwd = 1071;" />
    <Provider value="MySql.Data.MySqlClient" />
    <UpdatedAuthor value="abc" />
  </MYSQL_University>
  <University id="University">
    <ConnectionString value="Server =DESKTOP-OC11CCT\SQL_2014; Trusted_Connection = True;" />
    <Provider value="System.Data.SqlClient" />
    <UpdatedAuthor value="bhdryrdm" />
  </University>
</Databases>