<?xml version="1.0" encoding="utf-8"?>
<Databases>
  <WORMContext id="WORMContext">
    <DatabaseName value="BHDR" />
    <ConnectionString value="Server=.; Trusted_Connection=True;" />
    <Provider value="System.Data.SqlClient" />
    <Type value="MSSQL" />
    <Version value="1" />
    <CreatedTime value="2017-11-18T18:04:09.479304+03:00" />
    <CreatedAuthor value="Bahadır Yardım" />
    <UpdatedTime value="2017-11-18T18:04:09.4817845+03:00" />
    <UpdatedAuthor value="Bahadır Yardım" />
  </WORMContext>
  <MYSQL id="MYSQL">
    <DatabaseName value="BHDR" />
    <ConnectionString value="Server=127.0.0.1;Port=3306;Uid=root;Pwd=123qwe;" />
    <Provider value="MySql.Data.MySqlClient" />
    <Type value="MYSQL" />
    <Version value="132" />
    <CreatedTime value="2017-11-18T18:04:09.4817845+03:00" />
    <CreatedAuthor value="Ali Tevek" />
    <UpdatedTime value="2017-11-18T18:04:09.4817845+03:00" />
    <UpdatedAuthor value="Bahadır Yardım" />
  </MYSQL>
  <POSTGRESQL id="POSTGRESQL">
    <ConnectionString value="Server=.;Database=OWASP; Trusted_Connection=True;" />
    <Provider value="System.Data.Postgre" />
    <Type value="MSSQL" />
    <Version value="12" />
    <CreatedTime value="2017-11-18T18:04:09.4817845+03:00" />
    <CreatedAuthor value="Bahadır Yardım" />
    <UpdatedTime value="2017-11-18T18:04:09.4817845+03:00" />
    <UpdatedAuthor value="Ali Tevek" />
  </POSTGRESQL>
</Databases>